<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="styles/index.css">
    </head>
    <body>
        <div class="header">
            {{title}}
        </div>
        <div class="main-container">
            <ul class="vegetable-list">
                {{#each vegetables}}
                    <li class="vegetable-list-item">
                        <div class="link-container">
                            <a class="link" href="./{{name}}">
                                <span>{{name}}</span>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </body>
</html>
