<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    {{#with vegetable}}
        <title>{{name}}</title>
    {{/with}}
</head>
<body>
<div class="header">{{title}}</div>
<div class="main-container">
    {{#with vegetable}}
        <div class="vegetable-name">{{name}}</div>
        <br>
        <div>
            <div class="vegetable-description">{{description}}</div>
        </div>
    {{/with}}
</div>
</body>
</html>