html {
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.main-container {
    margin: 50px auto;
    width: 900px;
    height: 100%;
}

.header {
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: black;
    font-size: 2.5rem;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

.vegetable-list {
    width: 900px;
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.vegetable-list-item {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 25%;
    background-color: red;
    border: 1px solid green;
    height: 100px;
}

.link-container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.link {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.vegetable-name {
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-size: 20px;
}

.vegetable-description {
    padding: 10px;
}
